<!--Main menu-->
{{define "nav"}}
{{ range $section, $taxonomy := .Site.Sections }}
{{ $title :=  replace $section "-" " " }}
{{ if $title }}
<li><a href="/{{ $section }}/#content" alt="content {{ $title }}">{{ $title }}</a></li>
{{ end }}
{{ end }}
{{end}}
<div class="menu">
  <div class="container">
    <div class="row">
      <div class="menu__wrapper d-none d-lg-block col-md-12">
        <nav class="">
          <ul>
            <li><a href="/#hello">Home</a></li>
            <li><a href="/#projects">Projects</a></li>
            {{block "nav" .}}{{end}}
          </ul>
        </nav>
      </div>
      <div class="menu__wrapper col-md-12 d-lg-none">
        <button type="button" class="menu__mobile-button">
          <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
<!--Main menu-->

<!-- Mobile menu -->
<div class="mobile-menu d-lg-none">
  <div class="container">
    <div class="mobile-menu__close">
      <span><i class="mdi mdi-close" aria-hidden="true"></i></span>
    </div>
    <nav class="mobile-menu__wrapper">
      <ul>
        <li><a href="#hello">Hello</a></li>
        <li><a href="#projects">Projects</a></li>
        {{block "nav" .}}{{end}}
      </ul>
    </nav>
  </div>
</div>
<!-- Mobile menu -->
