
{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<!--Header-->
<header class="main-header">
  {{ partial "personal-header.html" . }}
</header>
<!--Header-->

<!--Hello-->
<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="hello_header" class="section__title">Hi_</h2>
      <p class="section__description">
	{{ .Site.Params.About | markdownify }}
      </p>
    </div>
  </div>
</section>
<!--Hello-->

<hr>

<!--Projects-->
<section id="projects" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">My projects_</h2>
    </div>
  </div>

  <div class="portfolio-cards">

    {{ range $project := .Site.Params.Projects }}
    <div class="row project-card" data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="web-sites">
      <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="{{ $project.Img | absURL }}" alt="{{ $project.Name }}">
      </div>
      <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">{{ $project.Name }}</h3>
        <p class="project-card__description">{{ $project.Desc }}</p>
        <a ref="nofollow" href="{{ $project.Link }}" target="_blank" class="project-card__link">{{ $project.Link }}</a>
      </div>
    </div>
    {{ end }}

  </div>
</section>
<!--Portfolio-->

<hr />

<!--Blog-->
<section id="blog" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="blog_header" class="section__title">Latest Posts_</h2>
    </div>
  </div>

  <div class="row post-cards">

    {{ range first 3 .Data.Pages.ByPublishDate.Reverse }}
    {{ if eq .Section "blog" }}
    <div class="col-md-4">
      <a href="blog.html">
        <div class="post-cards__card">
          <div class="post-cards__info">
            <p class="post-cards__date">{{ .Date.Format .Site.Params.dateform }}</p>
            <h3 class="post-cards_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	    {{ if isset .Params "tags" }}
	    <ul class="tags">
	      {{ range first 2 .Params.Tags }}
	      <li><a class="meta" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
	      {{ end }}
	    </ul>
	    {{ end }}
          </div>
        </div>
      </a>
    </div>
    {{ end }}
    {{ end }}

  </div>
</section>
<!--Blog-->

{{ partial "footer.html" . }}
